__pycache__
*.swp
/venv
/.vscode

*.pyc
# staticfiles
# .env
# /dist
# /.tmp
# /staticfiles
# src/staticfiles
# *.db
# extrato.txt
# /env
# *.sqlite3
# finance.db
# env_35
# *.db
# start-finance.sh
.env